body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  color: #202124;
  margin: 20px, 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
}
li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}
.weather-app {
  border-bottom: 1px solid #dadce0;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 48px;
  width: 48px;

}
.weather-temperature strong{
  color: rgb(32, 33, 36);
  font-size: 48px;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-height: 1;
} 
.weather-temperature .units{
  position: relative;
  font-size: 16px;
  top: -24px;
}
.row {
  margin-bottom: 20px;
}
#wind {
  text-transform: lowercase;
}